<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('./head'); %>
</head>

<body class="text">
  <main>
    <div class="container">

      <h1 class="title-with-icons">Random Pokenea!</h1>
      <div>
        <img class="card-image" src="<%= image %>" />
      </div>
      <p>"Docker container id: <%= docker_container%>"</p>
    </div>
  </main>

</body>

</html>
